{% extends "layout.html" %}
{% block body %}
<h1>Sing up</h1>

<form method=post action="{{ url_for('register') }}">
    <div>
        <div class="input"> Login: <input type=text value="YourLogin" name=login></div> {# size = 15 #}
        <div class="input"> Password: <input type=password name=password></div>
        <div> <input type=submit value="Sing up"> </div>
    </div>
<div> Password requirements: at least 5 sybmols, have to include both letters and digits.</div>

{% if error_message %}
    <p class=error> Something went wrong: {{ error_message }} </p>
{% endif %}

</form>
{% endblock %}
